<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <a class="navbar-brand"><p class="lead mb-3">Welcome <%= user.name %></p></a>
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
</nav>

<div class="box border border-success">
  <form action="/dashboard" method="POST">
    <div class="form-group row">
      <label for="text" class="col-sm-2 col-form-label">Enter activity :</label>
      <div class="col-sm-8">
        <input required type="text" name="text" placeholder="Meeting at 5:30" id="text" class="form-control">
      </div>
      <div class="col-sm-2">
        <input class="btn btn-success" type="submit" value="Add" id="add">
        <span class="btn btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseDateTime" title="Due date" >
          <i class="fas fa-caret-down"></i>
        </span>
      </div>
    </div>

    <div class="form-group row collapse" id="collapseDateTime">
      <label for="text" class="col-sm-2 col-form-label">Due in :</label>
      <div class="col-sm-8">
        <input type="date" min="<%= new Date().toISOString().split('T')[0] %>" name="date" id="date" class="form-control">
        <input type="time" name="time" id="time" class="form-control">
      </div>
    </div>
  </form>
</div>

<hr />
<%# task list %>
<%- include('partials/taskList', { isDone: false, group: 'today' }) %>
<%# completed list %>
<%- include('partials/taskList', { isDone: true, group: '' }) %>

<script>
  // add eventlistener to all delete buttons
  document.querySelectorAll("span.delete").forEach(delButton => {
    delButton.addEventListener("click", (e) => {
      const task_id = `/dashboard/${delButton.dataset.doc}`;
      fetch(task_id, { method: "DELETE" })
        .then((response) => response.json())
        .then(() => window.location.href = '/dashboard')
        .catch((err) => console.log(err));
    });
  });

  // change task status
  const changeStatus = (task_id, isDone) => {
    fetch('/dashboard', {
      method: 'POST',
      body: new URLSearchParams(`_id=${task_id}&isDone=${isDone}`)
    })
      .then(() => window.location.href = '/dashboard')
      .catch(err => console.log(err));
  }
</script>
