.box {
  padding: 2%;
}
.todo-container{
  background: #f0f0f0;
  padding: 2% 4%;
  border-radius: 20px;
  margin-bottom: 10px;
}
.todo-container >.row:first-child{
  border-top: none;
}
.todo-item {
  padding: 1%;
  border-top: 1px solid white;
}
.todo-item .col .overdue {
  color: #e74742;
}
.todo-item.done .col {
  text-decoration: line-through;
  color: #6a6a6a;
}
.todo-item .delete {
  color: #eb6864;
  cursor: pointer;
}
.todo-item .delete:hover {
  color: #e74742;
}
